{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<h1>Search </h1>
{% include "show_message.html" %}
<form method="GET" action="" class="form-horizontal">
<input type="search" name="search" style="text-align: center;">
<button type="submit" class="btn btn-primary" >Search</button>
</form>
{% if data %}
<table>
	<tr>
		<td>Name</td>
		<td>Url</td>
		<td>Phone No.</td>
	</tr>
	{% for i in data %}
	<tr>
		<td>{{ i.name }}</td>
		<td>{{ i.url }}</td>
		<td>{{ i.phone_number }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
<style type="text/css">
	form {
  text-align: center;
}
	table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


{% endblock content %}